
#formulario{
    position: absolute; 
    background: linear-gradient(to right,rgba(241, 166, 201, 0.895) , rgba(244, 103, 169, 0.895), rgba(241, 166, 201, 0.895));
    color:rgb(37, 34, 34);
    width:605px;
    height:408px;
    top: 20%;
    left: 29%;
    border-radius: 5%;
}
 #codigo{
    width: 555px ;
    margin: 5px;
    border-style: solid;
    border-radius: 5px;
    padding-top: 10px;
  padding-right: 3px;
  padding-bottom: 10px;
  padding-left: 8px;
  }
  
  #submeter {
    width: 100%;
    background-color:rgb(73, 204, 176);
    color: white;
    padding: 12px 20px;
    margin: 8px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;}
    
    #submeter2 {
      width: 100%;
      background-color:rgb(241, 31, 147);
      color: white;
      padding: 12px 20px;
      margin: 8px;
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 4px;
      cursor: pointer;
      font-weight: bold;
      font-style: color black;
  }
#entrar{
    position:static;
    margin-left: 34%;
  }
#hr {
   
    border: none; 
    height: 3px;
    background: linear-gradient(to right, transparent, rgb(255, 255, 255), transparent);
}

#fieldset{
  border-style:none;
}
#inserircodigo{
 position:absolute;
}
#Criarsala{
 position: absolute;

}