html{background-image: url(img17a21/fashion\ Caos\ fundo\ avaliação.png) ;  
  background-repeat: no-repeat;
  background-size: cover;
   
}

h1{color: aliceblue;
   font-size: xx-large; 
   margin-left: 69%;
   margin-top: 15%;
}

h2{color: black; font-size: x-large; margin-top:13%;
    margin-left: 37.5%; margin-bottom:0;  
}

.próxima{ color:black; background-color: aquamarine;
    width: 15%; height:50px;  margin-left: 66%; margin-top: 5%;
     border-width: 4px; border-color:white; font-size: large; font-family: 'Gill Sans MT';
}
  
.próxima:hover{background-color:rgb(255, 174, 215) ;     
    color: black;     
    border-color: black;   
    transition: 0.5s;    
    opacity: 1s;}   

    .avaliacao{
        display: flex;
        margin-left: 62%;
       }
      .star-icon{
        list-style-type: none;
        cursor: pointer;
        color: #ffe500;
        font-size: 60px;
     
        
      }
      .star-icon::before{
        content: "\2606"; 
      }
      .star-icon.ativo ~ .star-icon::before{
        content: "\2606";
      }
      .avaliacao:hover .star-icon::before{
        content: "\2605";
      }
      .star-icon:hover ~ .star-icon::before{
        content: "\2606";
      }
  