html{background-image: url(img17a21/rankingfashioncaos.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    background-color: deeppink; width: 100%; 
    font-size: x-large; 

}

.primeirolugar{ margin-top: 30%;
}
