
body {
   
    text-align: center;
    position: relative;
    top: 50px;
}

#tema {
    margin-top: 100px;
}

h1 {
    color: #000000; 
    font-size: 40px;
    margin-bottom: 40px;
    background-color: rgba(148, 211, 199, 0.9);
    padding: 10px 80px;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.folha {
    position: relative;
    background-color: #cdcdcd00;
    width: 300px;
    height: 300px;
    padding: 50px;
    text-align: center;
    left: 35%;
}

.roleta {
    border: 10px solid #FFF;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

path {
  fill: transparent;
}

.seta {
    position: absolute;
    left: 48.5%;
    border-bottom: 0px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid #33c9dc;
    width: 0;
    height: 0;
    z-index: 999;
    animation: animacaoSeta .35s linear infinite;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
    position: absolute;
    width: 0;
    height: 0;
}

.box1 {
    border-top: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 75px solid #e91e63;
    border-left: 75px solid #e91e63;
}

.box5 {
    border-top: 75px solid rgba(148, 211, 199, 0.9);
    border-right: 75px solid rgba(148, 211, 199, 0.9);
    border-bottom: 75px solid transparent;
    border-left: 75px solid transparent;
}

.box2 {
    border-top: 75px solid #e91e63;
    border-right: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 75px solid #e91e63;
    left: 50%;
}

.box6 {
    border-top: 75px solid transparent;
    border-right: 75px solid rgba(148, 211, 199, 0.9);;
    border-bottom: 75px solid rgba(148, 211, 199, 0.9);;
    border-left: 75px solid transparent;
    left: 50%
}

.box4 {
    border-top: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 75px solid rgba(148, 211, 199, 0.9);;
    border-left: 75px solid rgba(148, 211, 199, 0.9);;
    top: 50%;
    left: 50%;
}

.box8 {
    border-top: 75px solid #e91e63;
    border-right: 75px solid #e91e63;
    border-bottom: 75px solid transparent;
    border-left: 75px solid transparent;
    top: 50%;
    left: 50%;
}

.box3 {
    border-top: 75px solid rgba(148, 211, 199, 0.9);;
    border-right: 75px solid transparent;
    border-bottom: 75px solid transparent;
    border-left: 75px solid rgba(148, 211, 199, 0.9);;
    top: 50%;
}

.box7 {
    border-top: 75px solid transparent;
    border-right: 75px solid #e91e63;
    border-bottom: 75px solid #e91e63;
    border-left: 75px solid transparent;
    top: 50%;
}

@keyframes roleta {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes animacaoSeta {
    0% { transform: rotate(0deg)}
    25% { transform: rotate(-15deg)}
    75% { transform: rotate(15deg)}
    100% { transform: rotate(0deg)}
}

.premio {
    position: absolute;
    z-index: 999;
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.premio1 {
    top: 35%;
    left: 8%;
    transform: rotate(25deg);
}

.premio2 {
    top: 15%;
    left: 25%;
    transform: rotate(65deg);
}

.premio3 {
    top: 20%;
    left: 45%;
    transform: rotate(115deg);
}

.premio4 {
    top: 33%;
    right: 10%;
    transform: rotate(150deg);
}

.premio5 {
    top: 60%;
    right: 10%;
    transform: rotate(200deg);
}

.premio6 {
    top: 80%;
    right: 30%;
    transform: rotate(250deg);
}

.premio7 {
    top: 75%;
    left: 20%;
    transform: rotate(285deg);
}

.premio8 {
    top: 60%;
    left: 10%;
    transform: rotate(333deg);
}

.btnRoleta {
    position: absolute;
    color: white;
    background-color: #000;
    border: 15px solid #000;
    cursor: pointer;
    top:40%;
    left: 40%;
    font-size: 35px;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    text-align: center;
}

.play {
    z-index: 999;
}

.stop {
    animation-play-state: paused;
}
