html{background-image: url(https://i.pinimg.com/originals/fa/b6/5e/fab65e781303d81a5a101849d1474a5c.jpg); 
  background-repeat: repeat;
  background-size: contain;}

h1{color: white; 
font-family: 'Lucida Sans';
font-size:x-large ;
margin-left: 8%;}


#but01{ text-align: center; font-size:x-large; width:50%;
  text-decoration: none; 
  margin-top: 30%; 
  margin-left: 25%;
  cursor: pointer;
  background-color: deeppink;
  color: aliceblue;
  border-color: aqua;
  font-family: 'Times New Roman', Times, serif; 
  font-weight: bold; 
}








